* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

article {
  width: 210mm;
  height: 297mm;  
  margin: 20px auto;
  position: relative;
  background: 
    url('../img/top-image.png') no-repeat top center,
    url('../img/bottom-image.png') no-repeat bottom center,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 20%, transparent 80%, rgba(0, 0, 0, 0.5) 100%);
  background-size: contain, contain, cover;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: url('../img/logo.png') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 12px black;
}

h2 {
  text-align: center;
  margin-top: 250px;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

.container {
  display: flex;
  width: 100%;
  margin-top: 0px;
}

.column {
  margin-top: 50px;
  flex: 1;   
  padding: 20px;
}

.form-section {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 6px;
}

.form-section h2 {
  margin-top: 0;
}

.form-section label {
  margin-right: 15px;
}
